In [36]:
import pandas as pd
from datetime import datetime, timedelta
import math

In [37]:
# integrate and merge files

In [38]:
import os
print(os.getcwd())

/Users/joseovalle/Downloads/users_using_promo

In [51]:
folder_path = '/Users/joseovalle/Downloads/users_using_promo'
files = [f for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f))]

print("Files in folder:", files)

Files in folder: ['users_using_promo_20240212_20240310.csv', 'users_using_promo_20240318_20240414.csv', 'users_using_promo_20240415_20240512.csv', 'users_using_promo_20241104_20241201.csv', 'users_using_promo_20241028_20241124.csv', 'users_using_promo_20240115_20240211.csv', 'users_using_promo_20240722_20240818.csv', '.DS_Store', 'users_using_promo_20240226_20240324.csv', 'users_using_promo_20240909_20241006.csv', 'users_using_promo_20241125_20241222.csv', 'users_using_promo_20240603_20240630.csv', 'users_using_promo_20240304_20240331.csv', 'users_using_promo_20240701_20240728.csv', 'users_using_promo_20240902_20240929.csv', 'users_using_promo_20240401_20240428.csv', 'users_using_promo_20241021_20241117.csv', 'users_using_promo_20240729_20240825.csv', 'users_using_promo_20240527_20240623.csv', 'users_using_promo_20231211_20240107.csv', 'users_using_promo_20240916_20241013.csv', 'users_using_promo_20240101_20240128.csv', 'users_using_promo_20240812_20240908.csv', 'users_using_promo_20231225_20240121.csv', 'users_using_promo_20241202_20241229.csv', 'users_using_promo_20240930_20241027.csv', 'users_using_promo_20240923_20241020.csv', 'users_using_promo_20240219_20240317.csv', 'users_using_promo_20240805_20240901.csv', 'users_using_promo_20240506_20240602.csv', 'users_using_promo_20240708_20240804.csv', 'users_using_promo_20240624_20240721.csv', 'users_using_promo_20240325_20240421.csv', 'users_using_promo_20240520_20240616.csv', 'users_using_promo_20240108_20240204.csv', 'users_using_promo_20240610_20240707.csv', 'users_using_promo_20240311_20240407.csv', 'users_using_promo_20240408_20240505.csv', 'users_using_promo_20240513_20240609.csv', 'users_using_promo_20241118_20241215.csv', 'users_using_promo_20241007_20241103.csv', 'users_using_promo_20240826_20240922.csv', 'users_using_promo_20240129_20240225.csv', 'users_using_promo_20240617_20240714.csv', 'users_using_promo_20240429_20240526.csv', 'users_using_promo_20241014_20241110.csv', 'users_using_promo_20240205_20240303.csv', 'users_using_promo_20240819_20240915.csv', 'users_using_promo_20231218_20240114.csv', 'users_using_promo_20231204_20231231.csv', 'users_using_promo_20241111_20241208.csv', 'users_using_promo_20240122_20240218.csv', 'users_using_promo_20240715_20240811.csv', 'users_using_promo_20241209_20250105.csv', 'users_using_promo_20240422_20240519.csv']

In [52]:
new_path = '/Users/joseovalle/Downloads/users_using_promo'
os.chdir(new_path)
print(os.getcwd())

/Users/joseovalle/Downloads/users_using_promo

In [53]:
dictionary_dfs = {}
for file in files:
    df = pd.read_csv(file,encoding='latin1')
    dictionary_dfs[file] = df


oxxo_dfs = pd.concat(dictionary_dfs.values(), ignore_index= True)

In [54]:
# oxxo_dfs.drop(columns = ['accounts_catalog'], inplace = True)

oxxo_dfs.head()

,perfil_premia,etiquetas_necesidad,etiqueta_redencion,rango_frecuencia,rango_ticket,accounts_catalog,from,to,customers_with_transactions,Unnamed: 0
0,INDIVIDUAL,NaN,Redentor Ocasional,De 4 a 9,Mas de 90 MXN,58757.0,20240212.0,20240310.0,18269.0,NaN
1,ESTUDIANTE,hambre,Redentor Ocasional,De 0 a 4,0 a 55 MXN,2436.0,20240212.0,20240310.0,852.0,NaN
2,BALANCEADO,sed|hogar|reunion,Redentor Ocasional,9 o mas,55 a 90 MXN,4601.0,20240212.0,20240310.0,2720.0,NaN
3,FIESTERO_SEMANA,soluciones cotidianas|hogar,Primera_redencion,De 0 a 4,55 a 90 MXN,554.0,20240212.0,20240310.0,157.0,NaN
4,ESTUDIANTE,reunion,Primera_redencion,De 0 a 4,55 a 90 MXN,6727.0,20240212.0,20240310.0,1072.0,NaN

In [55]:
oxxo_dfs.head()

,perfil_premia,etiquetas_necesidad,etiqueta_redencion,rango_frecuencia,rango_ticket,accounts_catalog,from,to,customers_with_transactions,Unnamed: 0
0,INDIVIDUAL,NaN,Redentor Ocasional,De 4 a 9,Mas de 90 MXN,58757.0,20240212.0,20240310.0,18269.0,NaN
1,ESTUDIANTE,hambre,Redentor Ocasional,De 0 a 4,0 a 55 MXN,2436.0,20240212.0,20240310.0,852.0,NaN
2,BALANCEADO,sed|hogar|reunion,Redentor Ocasional,9 o mas,55 a 90 MXN,4601.0,20240212.0,20240310.0,2720.0,NaN
3,FIESTERO_SEMANA,soluciones cotidianas|hogar,Primera_redencion,De 0 a 4,55 a 90 MXN,554.0,20240212.0,20240310.0,157.0,NaN
4,ESTUDIANTE,reunion,Primera_redencion,De 0 a 4,55 a 90 MXN,6727.0,20240212.0,20240310.0,1072.0,NaN

In [56]:
print(len(oxxo_dfs))

1479707

In [57]:
oxxo_dfs= oxxo_dfs.dropna(subset=['from'])
oxxo_dfs= oxxo_dfs.dropna(subset=['to'])

In [58]:
print(len(oxxo_dfs))

1189048

In [59]:
oxxo_dfs['from'] = oxxo_dfs['from'].astype(int)
oxxo_dfs['to'] = oxxo_dfs['to'].astype(int)

oxxo_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1189048 entries, 0 to 1479706
Data columns (total 10 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   perfil_premia                1189048 non-null  object
 1   etiquetas_necesidad          1152011 non-null  object
 2   etiqueta_redencion           1189048 non-null  object
 3   rango_frecuencia             1188844 non-null  object
 4   rango_ticket                 1188844 non-null  object
 5   accounts_catalog             1189048 non-null  float64
 6   from                         1189048 non-null  int64
 7   to                           1189048 non-null  int64
 8   customers_with_transactions  1189048 non-null  float64
 9   Unnamed: 0                   0 non-null        object
dtypes: float64(2), int64(2), object(6)
memory usage: 99.8+ MB

In [60]:
oxxo_dfs.head()

,perfil_premia,etiquetas_necesidad,etiqueta_redencion,rango_frecuencia,rango_ticket,accounts_catalog,from,to,customers_with_transactions,Unnamed: 0
0,INDIVIDUAL,NaN,Redentor Ocasional,De 4 a 9,Mas de 90 MXN,58757.0,20240212,20240310,18269.0,NaN
1,ESTUDIANTE,hambre,Redentor Ocasional,De 0 a 4,0 a 55 MXN,2436.0,20240212,20240310,852.0,NaN
2,BALANCEADO,sed|hogar|reunion,Redentor Ocasional,9 o mas,55 a 90 MXN,4601.0,20240212,20240310,2720.0,NaN
3,FIESTERO_SEMANA,soluciones cotidianas|hogar,Primera_redencion,De 0 a 4,55 a 90 MXN,554.0,20240212,20240310,157.0,NaN
4,ESTUDIANTE,reunion,Primera_redencion,De 0 a 4,55 a 90 MXN,6727.0,20240212,20240310,1072.0,NaN

In [61]:
oxxo_dfs['from_date'] = pd.to_datetime(oxxo_dfs['from'].astype(str), format='%Y%m%d')
oxxo_dfs['to_date'] = pd.to_datetime(oxxo_dfs['to'].astype(str), format='%Y%m%d')
# oxxo_dfs['row_number'] = oxxo_dfs.sort_values('to_date').reset_index(drop= True).index +1
oxxo_dfs.head()

,perfil_premia,etiquetas_necesidad,etiqueta_redencion,rango_frecuencia,rango_ticket,accounts_catalog,from,to,customers_with_transactions,Unnamed: 0,from_date,to_date
0,INDIVIDUAL,NaN,Redentor Ocasional,De 4 a 9,Mas de 90 MXN,58757.0,20240212,20240310,18269.0,NaN,2024-02-12,2024-03-10
1,ESTUDIANTE,hambre,Redentor Ocasional,De 0 a 4,0 a 55 MXN,2436.0,20240212,20240310,852.0,NaN,2024-02-12,2024-03-10
2,BALANCEADO,sed|hogar|reunion,Redentor Ocasional,9 o mas,55 a 90 MXN,4601.0,20240212,20240310,2720.0,NaN,2024-02-12,2024-03-10
3,FIESTERO_SEMANA,soluciones cotidianas|hogar,Primera_redencion,De 0 a 4,55 a 90 MXN,554.0,20240212,20240310,157.0,NaN,2024-02-12,2024-03-10
4,ESTUDIANTE,reunion,Primera_redencion,De 0 a 4,55 a 90 MXN,6727.0,20240212,20240310,1072.0,NaN,2024-02-12,2024-03-10

In [62]:
oxxo_dfs.drop(columns = ['Unnamed: 0'], inplace = True)

In [65]:
max_date = oxxo_dfs['from_date'].max()
max_date

Timestamp('2024-12-09 00:00:00')

In [67]:
oxxo_dfs['is_max_date'] = oxxo_dfs['from_date'] == max_date
oxxo_dfs.head()

,perfil_premia,etiquetas_necesidad,etiqueta_redencion,rango_frecuencia,rango_ticket,accounts_catalog,from,to,customers_with_transactions,from_date,to_date,is_max_date
0,INDIVIDUAL,NaN,Redentor Ocasional,De 4 a 9,Mas de 90 MXN,58757.0,20240212,20240310,18269.0,2024-02-12,2024-03-10,False
1,ESTUDIANTE,hambre,Redentor Ocasional,De 0 a 4,0 a 55 MXN,2436.0,20240212,20240310,852.0,2024-02-12,2024-03-10,False
2,BALANCEADO,sed|hogar|reunion,Redentor Ocasional,9 o mas,55 a 90 MXN,4601.0,20240212,20240310,2720.0,2024-02-12,2024-03-10,False
3,FIESTERO_SEMANA,soluciones cotidianas|hogar,Primera_redencion,De 0 a 4,55 a 90 MXN,554.0,20240212,20240310,157.0,2024-02-12,2024-03-10,False
4,ESTUDIANTE,reunion,Primera_redencion,De 0 a 4,55 a 90 MXN,6727.0,20240212,20240310,1072.0,2024-02-12,2024-03-10,False

In [68]:
# oxxo_dfs.to_csv('/Users/joseovalle/Downloads/merged_churn_analysis.csv')
oxxo_dfs.to_csv('/Users/joseovalle/Downloads/users_using_promo.csv')

In [64]:
len(oxxo_dfs)

1189048